body {
  background: linear-gradient(45deg, #7321f7, transparent);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #000;
  font-size: 200%;
}
